* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 11pc;
}

.app-title {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}

input {
  text-align: center;
  background-color: purple;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 250px;
  transition: border 0.5s;
  display: flex;
  margin-bottom: 10px;
}

.btn {
  border: 2px solid transparent;
  background: #3498db;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover {
  background-color: black;
}

.new_user {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

/* The end of the the log in form

The start of the register form styles */

.new_er {
  border: 2px solid transparent;
  background: #3498db;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
